.App {
  text-align: center;
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .CLASSNAME */
.custom-link-style {
  color: #373737;
  text-decoration: underline;
  padding: 5px;
}

.setCustomHeight {
  min-height: 100vh;
}

.sub-title {
  color:#119822;
}

.ReadMe {
  color: #119822;
}
/* ID */

#about {
  color: #119822;
}

#me {
 height: 30%;
 width: 30%;
}

#Resume{
  width: 75%;
}

#weather {
  height: 100%;
  width: 100%;
}

#weather2 {
  height: 30%;
  width: 30%
}

#giving {
  height: 100%;
  width: 100%;
}

#giving2 {
  height: 30%;
  width: 30%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
